
    <div class="navbar-collapse collapse">
        <div class="text-center">
            <ul class="nav navbar-nav pull-right mr-auto">
                <li href="#">
                    <span class="glyphicon  glyphicon-bell " style="font-size:24px;color:lightblue;text-shadow:2px 2px 4px #000000" ; width="11" height="500"></span>
                </li>

            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>@Html.ActionLink("Log Out", "Log Out", "Account")</li>
            </ul>
            <ul class="nav navbar-nav pull-right">

                
                <li class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </li>

            </ul>


        </div>
        </div>


