
@{
    ViewBag.Title = "Compare";
}

<h2>Compare</h2>
<div class="container mt-3">
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Overall Comparison</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Inventory Comparison</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Reports Comparison</a>
        </li>
    </ul>
</div>
<!-- Tab panes -->
<div class="tab-content">
    <div id="home" class="container tab-pane active">
        <br>
        <img src="~/Content/Img/compare.JPG" class="mx-auto d-block img-fluid img-thumbnail" />
    </div>
    <div id="menu1" class="container tab-pane fade">
        <div class="row"><p> </p></div>
        <div class="row">
            <p style="margin-left:25px;">Compare</p>
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="margin-left:10px;">Clinic A</button>
            </div>
            <p style="margin-left:50px;"> With   </p>
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="margin-left:40px;">Clinic B</button>
            </div>
            <div class=" btn">
                <button type="submit" style="margin-left:400px;">Compare</button>
            </div>
        </div>
        <div class="row">
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="" style="margin-left:20px;">Remaining Test Strips this month
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Remaining Test Strip from Last Month
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Test Strips Used today
                </label>
            </div>
        </div>
    </div>
   

    <div id="menu2" class="container tab-pane fade">
        <br>
        <h3>Compare Reports of two clinics</h3>
    </div>
</div>
