
@{
    ViewBag.Title = "Compare";
}

<h2>Compare</h2>
<div class="container mt-3">
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Inventory Comparison</a>
        </li>
    </ul>
</div>