
@{
    /**/

    ViewBag.Title = "Compare";
}

<h2>Compare</h2>
    <div class="container mt-3">
        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active bg-dark" data-toggle="tab" href="#home">Overall Comparison</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">Inventory Comparison</a>
            </li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active">
            <br>
            <img src="~/Content/Img/compare.JPG" class="mx-auto d-block img-fluid img-thumbnail" style="margin-bottom:15px;"/>
        </div>
        <div id="menu1" class="container tab-pane fade">
            <div class="row" style="margin-top:20px;">
                <div class="col">
                    <div class="form-check-inline">
                        <label for="sel1" l">Compare Clinic:</label>
                        <select class="form-control" id="sel1" name="sellist1" style="margin-left:10px;">
                            <option>Lagos</option>
                            <option>Abia</option>
                            <option>Admawa</option>
                            <option>Akwa Ibom</option>
                            <option>Beune</option>
                            <option>Borno</option>
                            <option>Cross River</option>
                            <option>Delta</option>
                            <option>Edo</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check-inline">
                        <label for="sel1">With Clinic:</label>
                        <select class="form-control" id="sel1" name="sellist1">
                            <option>Abia</option>
                            <option>Admawa</option>
                            <option>Akwa Ibom</option>
                            <option>Beune</option>
                            <option>Borno</option>
                            <option>Cross River</option>
                            <option>Delta</option>
                            <option>Edo</option>
                            <option>Lagos</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class=" btn">
                        <button type="submit" style="margin-left:400px;">Compare</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="" style="margin-left:20px;">Remaining Test Strips this month
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">Remaining Test Strip from Last Month
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">Test Strips Used today
                    </label>
                </div>
            </div>
            <table class="table table-bordered table-striped" style="margin-top:25px">
                <thead>
                    <tr class="bg-dark">
                        <th>Comparison Attributes</th>
                        <th>Lagos Clinic</th>
                        <th>Abia Clinic</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Test strip delivery date</td>
                        <td>05/05/2018</td>
                        <td>05/07/2019</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>No of test strips delivered this month</td>
                        <td>200</td>
                        <td>150</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>No of test strips delivered last month</td>
                        <td>150</td>
                        <td>150</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>No of test strips used today</td>
                        <td>57</td>
                        <td>28</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right" style="margin-top:20px; margin-bottom:20px;">
                <button type="button" class="bottom-right">Back</button>
                <button type="button" class="bottom-right">Next</button>
            </div>
        </div>