

<div class="jumbotron">
    <h1>Contacts</h1>
    <p>Addresses and Phone Numbers of Each Clinics</p>
</div>


<address>
    Clinic A<br />
    Ishaga Rd, Idi-Araba, Lagos, Nigeria<br />
    <abbr title="Phone">P:</abbr>
    +234 154 232 1212
</address>

<address>
    Clinic B<br />
    Cadastral Zone, Life Camp, Plot 113, Abuja, Nigeria<br />
    <abbr title="Phone">P:</abbr>
    +234 123 212 8634
</address>

<address>
    Clinic C<br />
    Dorayi Babba, 1C Forestry Road, Kano, Nigeria<br />
    <abbr title="Phone">P:</abbr>
    +234 545 348 9093
</address>

<address>
    Clinic D<br />
    I Katsina Rd, Kano, Nigeria<br />
    <abbr title="Phone">P:</abbr>
    +234 143 812 5635
</address>

