@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Clinic A<br />
    Ishaga Rd, Idi-Araba, Lagos, Nigeria<br />
    <abbr title="Phone">P:</abbr>
    +234 1 232 1212
</address>

<address>
    Clinic B<br />
    5th Ave, Idi-Araba, Lagos, Nigeria<br />
    <abbr title="Phone">P:</abbr>
    +234 1 212 8634
</address>

<address>
    Clinic C<br />
    Ishaga Street, Idi-Araba, Lagos, Nigeria<br />
    <abbr title="Phone">P:</abbr>
    +234 1 812 5635
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>