@{
    ViewBag.Title = "Dashboard";
}
<span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-sm-8">
        <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiOGRmYmJlZjctNjA2Yy00NjkyLTg4ZDktMzcyYjNlMGJkN2Q2IiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe></div>

     <div class="col-md-2"></div>
            </div> 

<span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>


@*<div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="~/Images/1.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Report</h5>
                <p class="card-text"> A graph , bar chart, pie chart to represent the  number of reports based on location, time,place.</p>
                <a href="#" class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/Images/1.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Inventory</h5>
                <p class="card-text"> A graph , bar chart, pie chart to represent the  number of reports based on location, time,place.</p>
                <a href="#" class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/Images/1.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Compare</h5>
                <p class="card-text"> A graph , bar chart, pie chart to represent the  number of reports based on location, time,place.</p>
                <a href="#" class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/Images/1.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Image</h5>
                <p class="card-text"> A graph , bar chart, pie chart to represent the  number of reports based on location, time,place.</p>
                <a href="#" class="btn btn-primary">Click here</a>
            </div>
        </div>
    </div>*@


