
@{
    ViewBag.Title = "Map";
}

<h2>Maps</h2>


<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMTY2OWI0ZDMtYTJkOC00YzAxLTg5ZDctYzRiN2QyMmRhMWY4IiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>