
@{
    ViewBag.Title = "Report";

}


   <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-sm-8">
        <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiM2M2ZDczMmUtNzE2OS00OWJhLThmNWQtNGFmNjA0Yzg1ODdkIiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe></div>
     <div class="col-md-2"></div>
 </div> 

<span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>

   

