
@{
    ViewBag.Title = "Report";

}



@*<div class="container">
    <div class="jumbotron">
        <h1>Reports</h1>
        <p>Select the month for your report:</p>
    </div>
  
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Jan 19</li>
        <li class="list-group-item">Feb 19</li>
        <li class="list-group-item">Mar 19</li>
        <li class="list-group-item">Apr 19</li>
        <li class="list-group-item">May 19</li>
    </ul>
</div>
<img src="~/Content/Img/capture.jpg" class="mx-auto d-block img-fluid img-thumbnail" />
<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMWZlOWRkNWUtMTg1Mi00MzFjLTgzYjctZjI2ZjYyNjM1ZmVmIiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
<button type="export to PDF" class="btn btn-primary">Export To PDF</button>*@


