
@{
    ViewBag.Title = "Report";

}



<h2>Report</h2>

<ul class="Select Month">
    <li class="list-group-item">Januaray Report</li>
    <li class="list-group-item">February Report</li>
    <li class="list-group-item">March Report</li>
    <li class="list-group-item">April Report</li>
    <li class="list-group-item">May Report</li>
    
</ul>
<img src="~/Content/Img/capture.jpg" class="mx-auto d-block img-fluid img-thumbnail" />
